In [12]:
import sqlite3
import pandas as pd

# Define the database name
DB_NAME = '../data/Neutrino.db'

# Connect to the database
conn = sqlite3.connect(DB_NAME)

# Query to retrieve all data from the SensorsData table
query = "SELECT * FROM SensorsData"

# Use pandas to read the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the DataFrame
df

,id,TimeStamp,Temperature,Gas,Humidity,Pressure,Altitude,Luminosity,soil_moisture,soil_temperature
0,1,2024-12-24 23:34:53.963253,75.00,100.00,50.00,1000.00,1000.00,105.00,400.00,25.00
1,2,2024-12-24 23:37:30,23.07,83.60,49.23,1002.36,325.60,898.73,301.89,18.57
2,3,2024-12-24 23:38:02,29.92,345.25,56.69,959.16,224.89,922.50,295.14,22.15
3,4,2024-12-24 23:38:31,19.86,306.55,65.84,1004.55,462.07,103.64,397.37,10.04
4,5,2024-12-24 23:38:38,20.55,487.95,67.98,1024.45,15.47,769.58,508.48,11.35
5,6,2024-12-24 23:38:41,28.43,36.00,36.25,1047.98,183.72,775.40,611.30,21.02
6,7,2024-12-24 23:50:36,27.54,53.41,48.23,995.79,30.18,315.14,741.31,23.75

In [16]:
import sqlite3

DB_NAME = '../data/Neutrino.db'

def fetch_latest_data():
    """Fetch the most recent sensor data."""
    try:
        conn = sqlite3.connect(DB_NAME)
        curs = conn.cursor()
        curs.execute("SELECT * FROM SensorsData ORDER BY timestamp DESC LIMIT 1")
        data = curs.fetchone()
        conn.close()
        print("Fetched data:", data)  # Debugging
        return data
    except sqlite3.Error as e:
        print(f"Error fetching data: {e}")
        return None

fetch_latest_data()

Fetched specific data: ('2024-12-25 01:48:10', 22.69, 39.2, 965.74, 568.11, 237.44)

('2024-12-25 01:48:10', 22.69, 39.2, 965.74, 568.11, 237.44)