In [29]:
import sqlite3
import pandas as pd

# Define the database name
DB_NAME = '../data/Neutrino.db'

# Connect to the database
conn = sqlite3.connect(DB_NAME)

# Query to retrieve all data from the SensorsData table
query = "SELECT * FROM SensorsData"

# Use pandas to read the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the DataFrame
df

,id,TimeStamp,Temperature,Gas,Humidity,Pressure,Altitude,Luminosity,soil_moisture,soil_temperature
0,1,2024-12-25 04:07:27.171231,75.00,100.00,50.00,1000.00,1000.00,105.00,400.00,25.00
1,2,2024-12-18 04:08:11,17.60,432.37,63.87,1028.71,193.02,93.18,515.51,17.51
2,3,2024-12-18 04:09:11,19.90,84.12,41.04,954.09,372.74,518.96,308.65,23.31
3,4,2024-12-18 04:10:11,23.04,26.05,56.18,968.90,242.12,585.82,693.05,24.41
4,5,2024-12-18 04:11:11,16.79,136.33,49.80,1017.28,368.67,278.79,226.40,22.51
...,...,...,...,...,...,...,...,...,...,...
10077,10078,2024-12-25 04:04:11,16.76,148.70,33.08,1041.06,119.46,551.81,567.48,24.06
10078,10079,2024-12-25 04:05:11,18.93,123.34,37.26,1041.06,199.63,636.71,468.79,18.28
10079,10080,2024-12-25 04:06:11,29.73,157.32,51.57,974.59,499.99,413.43,393.74,23.32
10080,10081,2024-12-25 04:07:11,21.80,134.58,59.51,979.89,63.88,994.32,619.67,18.61
10081,10082,2024-12-25 04:08:11,27.91,152.49,31.44,1014.36,13.25,664.83,519.81,21.54

In [ ]:
import sqlite3

DB_NAME = '../data/Neutrino.db'

def fetch_latest_data():
    """Fetch the most recent sensor data."""
    try:
        conn = sqlite3.connect(DB_NAME)
        curs = conn.cursor()
        curs.execute("SELECT * FROM SensorsData ORDER BY timestamp DESC LIMIT 1")
        data = curs.fetchone()
        conn.close()
        print("Fetched data:", data)  # Debugging
        return data
    except sqlite3.Error as e:
        print(f"Error fetching data: {e}")
        return None

fetch_latest_data()

In [28]:
import sqlite3
import datetime
import random
import os

# Path to your database
DB_NAME = "../data/Neutrino.db"

def generate_sensor_data():
    """Generate random sensor data."""
    now = datetime.datetime.now()
    seven_days_ago = now - datetime.timedelta(days=7)

    # Generate data for each minute in the last 7 days
    data = []
    current_time = seven_days_ago

    while current_time <= now:
        temperature = round(random.uniform(15.0, 30.0), 2)
        gas = round(random.uniform(0, 500), 2)
        humidity = round(random.uniform(30.0, 70.0), 2)
        pressure = round(random.uniform(950.0, 1050.0), 2)
        altitude = round(random.uniform(0, 500), 2)
        luminosity = round(random.uniform(0, 1000), 2)
        soil_moisture = round(random.uniform(200, 800), 2)
        soil_temperature = round(random.uniform(10.0, 25.0), 2)

        # Convert timestamp to string to handle Python 3.12 sqlite3 datetime adapter deprecation
        data.append((current_time.strftime('%Y-%m-%d %H:%M:%S'), temperature, gas, humidity, pressure, altitude, luminosity, soil_moisture, soil_temperature))
        current_time += datetime.timedelta(minutes=1)

    return data

def populate_database():
    """Populate the database with 7 days of sensor data."""
    conn = sqlite3.connect(DB_NAME)
    curs = conn.cursor()

    try:
        curs.executemany('''
            INSERT INTO SensorsData (timestamp, temperature, gas, humidity, pressure, altitude, luminosity, soil_moisture, soil_temperature)
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)''', generate_sensor_data())
        conn.commit()
        print("Database successfully populated with 7 days of data.")
    except sqlite3.Error as e:
        print(f"Database error: {e}")
    finally:
        conn.close()

if __name__ == "__main__":
    populate_database()

Database successfully populated with 7 days of data.